@model BlogMvcApp.Models.Blog

@{
    ViewBag.Title = "Details";
}
<h1>@Model.Baslik</h1>
<hr />
<p>
    <span class="glyphicon glyphicon-time"></span>
    @Model.EklenmeTarihi
</p>
<hr />
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<hr />
<blockquote>
    <p>@Model.Aciklama</p>
</blockquote>
<p>
    @Model.Icerik
</p>
<div class="comment">
    <hr />
    <div class="well">
        <h4>Yorum Yap :</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
    <hr />
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Kullanıcı Yorumu #1
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Bu eğitim içeriği gerçektende harika <code>.feritsimsek</code></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Kullanıcı Yorumu #2
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Bu egitim seti ile artık bende bir programcıyım <code>.barisaktas</code></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Kullanıcı Yorumu #3
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Bu egitim seti mükemmelll <code>.tahirucar</code></div>
            </div>
        </div>
    </div>
</div>
@section SagKolon
    {
    <div class="well">
        <h4>Blog Ara</h4>
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Ara" aria-label="Ara" aria-describedby="search-addon" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-outline-primary">Ara</button>
                <span class="gtyphicon glyphicon-search"></span>
            </span>
        </div>
    </div>
    @{ Html.RenderAction("KategoriListesi", "Category");}
}



